<!doctype html>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<META HTTP-EQUIV="Expires" CONTENT="Mon, 06 Jan 1990 00:00:01 GMT">
<META HTTP-EQUIV="Expires" CONTENT="-1">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">

</head>
<div class=page>

  <h1 id="title"  >SMART CCTV</h1>


  {% block body %}
    {% endblock %}

</div>